<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ 'styles/styles.css' | prefixedUrl }}">
  </head>
  <body class="{{ className | default('') }}">
    {% include "nav.njk" %}

    <!-- injects content from our markdown file -->
    <main>
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {# ✅ This allows layouts like post.njk to add scripts #}
    {% block scripts %}{% endblock %}
  </body>
</html>
